/*@font-face{
    font-family:"Yuzu";
    src:url("../fonts/aquafont.ttf") format('truetype');
}*/

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, .main-view{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container{
    margin-top: 20px;
    padding: 50px;
}

.menu-container{
    width: 820px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.you-know-readings{
    margin: 0px;
    color: grey;
    margin-top: 30px;
}

.you-know-writings,
.you-know-meanings{
    margin: 0px;
    color: grey;
}

.your-rank{
    color: grey;
    margin-bottom: 20px;
}

.user-rank{
    color: #EA9E59;
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: 5px;
}

.known-readings{
    color: #59adea;
}

.known-writings{
    color: #20af93;
}

.known-meanings{
    color: #3ACAA0;
}

.square-button{
    display: inline-block;
    width: 250px;
    height: 150px;
    line-height: 150px;
    border-radius: 5px;
    margin:10px;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: #59adea;
    cursor: pointer;
}

.square-button:hover{
    opacity: 0.75;
}
.confirm-button{
    display: block;
    width: 250px;
    height: 70px;
    font-size: 30px;
    outline: none;
    border: none;
    text-align: center;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    background-color: #478A90;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.confirm-button:hover{
    opacity: 0.75;
}

.loading{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.loading img{
    width: 100%;
    height: 100%;
}

.onoffswitch {
    display: inline-block;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #59ADEA; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #CFE1E6; color: #333333;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #35CE94;
    position: absolute; top: 0; bottom: 0;
    right: 60px;
    transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.odometer{
    font-size: 50px;
}

table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 100px;
}

table tr{
    height: 100px;
}

table tr.first{
    height: 50px;
}

table th{
    text-align: center;
    color: white;
    font-weight: normal;
}

table th.left{
    border-radius: 10px 0px 0px 0px;
}

table th.right{
    border-radius: 0px 10px 0px 0px;
}

table tr.last{
    height: 30px;
    text-align: center;
}

table tr.last .left{
    border-radius: 0px 0px 0px 10px;
}

table tr.last .right{
    border-radius: 0px 0px 10px 0px;
}

table td{
    color: white;
}

table tr:nth-child(even){
    background-color: #7cbae5;
}

table tr:nth-child(odd){
    background-color: #8cc5ed;
}


.kanji-progression td{
    text-align: center;
}

.kanji-progression td.kanji{
    font-size: 30px;
    width: 20%;
}

.kanji-progression td.prog-value .bar{
    width: 30%;
    height: 10%;
    position: relative;
    top: 80%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background: #ACD8E5;
}

.kanji-progression td.prog-value span{
    color: #A2FAFF;
    opacity: 0;
    animation: fadeIn 0.5s linear forwards;
    -webkit-animation: fadeIn 0.5s linear forwards;
    -moz-animation: fadeIn 0.5s linear forwards;
    -o-animation: fadeIn 0.5s linear forwards;
    -ms-animation: fadeIn 0.5s linear forwards;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
}

.kanji-progression td.prog-value .bar div.filled{
    width: 0%;
    height: 100%;
    margin: 0px;
    background: #00F1FF;
    animation: filling 1s linear forwards;
    -webkit-animation: filling 1s linear forwards;
    -moz-animation: filling 1s linear forwards;
    -o-animation: filling 1s linear forwards;
    -ms-animation: filling 1s linear forwards;
}

.kanji-progression td.prog-value .bar:nth-child(2) div.filled{
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
}
.kanji-progression td.prog-value .bar:nth-child(3) div.filled{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
}

@media screen and (max-width: 800px) {
    
    html, body{
        width: 100%;
        height: 100%;
    }
    
    .menu-container{
        width: 100%;
        margin-top: 0px;
    }
    .square-button{
        display: block;
        margin: auto;
        width: 90%;
        height: 100px;
        line-height: 100px;
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .main-container{
        padding: 5px;
        margin-top: 80px;
    }
}
